In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
np.random.seed(42)

# Portfolio Planner

In this activity, you will use the iexfinance api to grab historical data for a 60/40 portfolio using `SPY` to represent the stock portion and `AGG` to represent the bonds.

In [3]:
# THESE NEXT TWO CELLS ARE GOING TO BE COMMENTED OUT SO THAT WE 
# DON'T PULL TOO MANY TIMES FROM IEX. I WROTE THE DATA INTO A CSV
# AND AM GOING TO JUST PULL THAT FOR THIS WORK.

# from iexfinance.stocks import get_historical_data
# import iexfinance as iex

# Data Collection

In this step, you will need to use the IEX api to fetch closing prices for the `SPY` and `AGG` tickers. Save the results as a pandas DataFrame

In [4]:
# list_of_tickers = ["SPY", "AGG"]
# end_date = datetime.now()
# start_date = end_date + timedelta(-365)
# closing_prices = pd.DataFrame(get_historical_data(list_of_tickers, start_date, end_date, output_format='pandas'))

In [5]:
# closing_prices.to_csv('~/Fintech/Homework/Learning-APIs/portfolio_planner.csv')

In [6]:
closing_prices_path = ('../Learning-APIs/portfolio_planner.csv')

In [7]:
closing_prices_csv = pd.read_csv(closing_prices_path,header=1)
closing_prices_csv.head()

,Unnamed: 0,open,high,low,close,volume,open.1,high.1,low.1,close.1,volume.1
0,date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-22,264.82,265.06,261.06,262.86,115531183.0,106.44,106.62,106.44,106.44,6823956.0
2,2019-01-23,264.01,264.79,260.66,263.41,86030287.0,106.38,106.59,106.37,106.55,3222846.0
3,2019-01-24,263.21,264.20,262.08,263.55,59204139.0,106.72,106.84,106.67,106.73,7308898.0
4,2019-01-25,265.61,266.70,263.66,265.78,96883358.0,106.64,106.70,106.56,106.68,3469453.0

In [8]:
closing_prices_csv.drop(columns=['open','high','low','volume','open.1','high.1','low.1','volume.1'],inplace=True)
closing_prices_csv.rename(columns={'Unnamed: 0':'Date','close':'SPY','close.1':'AGG'},inplace=True)
closing_prices_csv.drop([0], axis=0, inplace=True)
closing_prices_csv.set_index(['Date'],inplace=True)
closing_prices_csv.sort_index(ascending=False,inplace=True)
closing_prices_csv.head()

               SPY     AGG
Date
2020-01-17  331.95  113.05
2020-01-16  330.92  113.18
2020-01-15  328.19  113.18
2020-01-14  327.45  113.01
2020-01-13  327.95  112.91

# Monte Carlo Simulation

In this step, you will run Monte Carlo Simulations for your portfolio to model portfolio performance at different retirement ages. 

Complete the following steps:
1. Calculate the daily returns for the SPY and AGG closing prices.
2. Calculate volatility for both the SPY and AGG closing prices.
3. Find the last day's closing price for both stocks and save those as variables.
4. Run a Monte Carlo Simulation of at least 500 iterations and generate at least 30 years of closing prices

### HINTS:
There are 252 trading days per year, so the number of records to generate for each Monte Carlo run will be 252 days * 30 years

In [9]:
daily_returns=closing_prices_csv.pct_change()
daily_returns.head()

                 SPY       AGG
Date
2020-01-17       NaN       NaN
2020-01-16 -0.003103  0.001150
2020-01-15 -0.008250  0.000000
2020-01-14 -0.002255 -0.001502
2020-01-13  0.001527 -0.000885

In [20]:
avg_daily_return=daily_returns.mean()
avg_daily_return

SPY   -0.000906
AGG   -0.000239
dtype: float64

In [13]:
std_dev_daily_returns = daily_returns.std()
std_dev_daily_returns

SPY    0.007438
AGG    0.002086
dtype: float64

In [15]:
# Save the last day's closing price
last_price = closing_prices_csv.iloc[0]
last_price

SPY    331.95
AGG    113.05
Name: 2020-01-17, dtype: float64

In [28]:
last_price = pd.DataFrame(last_price)
last_price.rename(columns={'2020-01-17':'2020-01-17'},inplace=True)
last_price

     2020-01-17
SPY      331.95
AGG      113.05

In [25]:
print(f'SPY last price occurred on 1-17-20 and was {last_price.iloc[0][-1]}')

SPY last price occurred on 1-17-20 and was 331.95

In [26]:
# Setup the Monte Carlo Parameters
number_simulations = 500
number_records = 252 * 30
monte_carlo = pd.DataFrame()

In [39]:
# Run the Monte Carlo Simulation
simulated_prices=last_price
simulated_SPY=[]
simulated_AGG=[]
for x in range(number_simulations):
    simulated_SPY_price=simulated_prices.iloc[0][-1]*(1+np.random.normal(avg_daily_return[0],std_dev_daily_returns[0]))
    simulated_AGG_price=simulated_prices.iloc[1][-1]*(1+np.random.normal(avg_daily_return[1],std_dev_daily_returns[1]))
    simulated_SPY.append(simulated_SPY_price)
    simulated_AGG.append(simulated_AGG_price)
simulated_prices=pd.DataFrame({'sim_SPY':simulated_SPY,'sim_AGG':simulated_AGG})
simulated_prices.head()

      sim_SPY     sim_AGG
0  330.888995  112.576545
1  332.176051  113.023288
2  329.631886  113.178434
3  333.964396  112.643988
4  329.766118  112.841662

In [ ]:
# Visualize the Simulation
# YOUR CODE HERE

In [14]:
# Select the last row for the cumulative returns (cumulative returns at 30 years)
# YOUR CODE HERE

In [ ]:
# Select the last row for the cumulative returns (cumulative returns at 20 years)
# YOUR CODE HERE

In [ ]:
# Display the 90% confidence interval for the ending returns
# YOUR CODE HERE

In [ ]:
# Visualize the distribution of the ending returns
# YOUR CODE HERE

---

# Retirement Analysis

In this section, you will use the monte carlo model to answer the following retirement planning questions:

1. What are the expected cumulative returns at 30 years for the 10th, 50th, and 90th percentiles?
2. Given an initial investment of `$20,000`, what is the expected portfolio return in dollars at the 10th, 50th, and 90th percentiles?
3. Given the current projected annual income from the Plaid analysis, will a 4% withdraw rate from the retirement portfolio meet or exceed that value at the 10th percentile?
4. How would a 50% increase in the initial investment amount affect the 4% retirement withdrawal?

### What are the expected cumulative returns at 30 years for the 10th, 50th, and 90th percentiles?

In [ ]:
# YOUR CODE HERE

### Given an initial investment of `$20,000`, what is the expected portfolio return in dollars at the 10th, 50th, and 90th percentiles?

In [ ]:
# YOUR CODE HERE

### Given the current projected annual income from the Plaid analysis, will a 4% withdraw rate from the retirement portfolio meet or exceed that value at the 10th percentile?

Note: This is effectively saying that 90% of the expected returns will be greater than the return at the 10th percentile, so this can help measure the uncertainty about having enough funds at retirement

In [ ]:
# YOUR CODE HERE

### How would a 50% increase in the initial investment amount affect the 4% retirement withdrawal?

In [ ]:
# YOUR CODE HERE

### Optional Challenge

In this section, you will calculate and plot the cumulative returns for the median and 90% confidence intervals. This plot shows the expected cumulative returns for any given day between the first day and the last day of investment.

In [ ]:
# YOUR CODE HERE